.logo{
    height: 30px;
    width: 30px;
}
.heading{
    font-size: 30px;
    color: darkblue;
    font-family:sans-serif;
    font-weight: 400;
}
.navbar-toggler-icon {
    background-image: url(14.png);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: red;
}
.nav-link {
    color: blueviolet;
}
.navbar-collapse {
    flex-grow:0;
}
.banner{
    height: 500px;
    width:100%;
    object-fit: cover;
}
.about-us-img{
    height: 350px;
    width: 600px;
}
.about-us{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 500;
}
.font-20{
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 400;
}
.img-2{
    height: 300px;
    width: 340px;
}
.font-18{
    color: gray;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 5%;
}
.btn2{
    background-color: blue;
    color: white;
    padding: 6px 20px;
    border-radius: 10px;
    margin-top: 4%;
}
.btn2:hover{
    background-color: rgb(158, 156, 156);
   color: blue;
}
.font-17{
    font-size: 17px;
    font-family: sans-serif;
    color: gray;
}
@media (min-width:320px) and (max-width:768px) {
    #navbar{
        position: absolute;
        /* top:100px; */
        background-color: var(--bs-success-bg-subtle) !important;
        width: 100%;
        height: 60vh;
        text-align: center;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            --bs-gutter-x: 0rem;
    }
    .nav-link {
        padding: 10px 20px;
    }
    .heading,.about-us{
        font-size: 22px;
    }
    .logo{
        height: 20px;
        width: 20px;
    }
    .font-20{
        font-size: 17px;
    }
    .about-us-img{
        height: 250px;
        width: 400px;
        margin-top: 2%;
    }
    .font-18{
        font-size: 16px;
        margin-top: 2%;
    }
    .btn2{
        padding: 6px 15px;
        margin-top: 1%;
    }
    .font-17{
        font-size: 16px;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .heading,.about-us{
        font-size: 26px;
    }
    .font-20{
        font-size: 18px;
    }
    .about-us-img{
        height: 300px;
        width: 500px;
        margin-top: 3%;
    }
    .font-18{
        font-size: 17px;
        margin-top: 3%;
    }
    .btn2{
        margin-top: 2%;
    }
}
@media (min-width:320px)  and (max-width:992px){
    .banner{
        height: 400px;
    }   
    .img-2{
        height: 200px;
        width: 300px;
    } 
}
@media (min-width:992px) and (max-width:1200px) {
    .img-2{
        height: 250px;
        width: 340px;
    }
    .font-18{
        margin-top: 4%;
    }
    .btn2{
        margin-top: 3%;
    }
}